body {
  background: hsl(210, 36%, 96%);
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
  padding: 2rem;
}

.form-input-values {
  margin-bottom: 10px;
  padding: 10px;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

.btn {
  letter-spacing: 2px;
  display: inline-block;
  padding: 0.375rem 0.75rem;
}

.single-item {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-item p {
  margin-top: 10px;
}

.edit-btn {
  margin-right: 20px;
}
